<h2>Sign up!!!!</h2>
#creating new users
<form action="/users" method="post">
    <label for="username">Create Username: </label>
    <input type="text" name="username" value=""><br>

    <label for="username">Enter Email: </label>
    <input type="text" name="email" value=""><br>

    <label for="password">Create Password: </label>
    <input type="password" name="password" value=""><br>

    <input type="submit" value="Sign Up">
</form>