    <div class="text-center">
    <form style="max-width:480px;margin:auto" action="/login" method="post">

        <img class="mt-4 mb-4" src="images/this.jpeg" height="100" alt="logo">
        <h1 class="h3 mb-3 font weight normal">Welcome to MyTrainer</h1>
        <div class="mt-3">
        <a href="/login" class="btn btn-lg btn-secondary">Sign In</a>
        <a href="/signup" class="btn btn-lg btn-secondary">Sign Up</a> 
        </div>
    </form>
    </div>
