<h1>Create a new Exercise: <h1>
<form action="/exercises" method="post">
    <label for=""> Name: </label>
    <input type="text" name=""><br>

    <label for=""> Muscle Group: </label>
    <input type="text" name=""><br>

    <label for=""> Reps: </label>
    <input type="text" name="">
    <label for=""> Sets: </label>
    <input type="text" name=""><br>

    <label for=""> Description: </label>
    <input type="text" name=""><br>

    <input type="submiy" value="Create Exercise">
</form>