<h1>Create a new Exercise: <h1>
<form action="/exercises" method="post">
    <label for="name"> Name: </label>
    <input type="text" name="name"><br>

    <label for="muscle_group"> Muscle Group: </label>
    <input type="text" name="muscle_group"><br>

    <label for="reps"> Reps: </label>
    <input type="text" name="reps">
    <label for="sets"> Sets: </label>
    <input type="text" name="sets"><br>

    <label for="description"> Description: </label>
    <input type="text" name="description"><br>

    <input type="submit" value="Create Exercise">
</form>